<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>DETOUR HOME</h1>
    <br />
    <h2>By Beth Munger</h2>
    <br />
    <%= link_to ' Go On A Trip', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>

  <br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Feature 1</h3>
    </div>

    <div class="col-12 col-sm">
      <h3>Feature 2</h3>
    </div>

    <div class="col-12 col-sm">
      <h3>Feature 3</h3>
    </div>
  </div>

</div>