<div class="booyah-box-b col-10 offset-1">
  <h1 class="text-center">All My Journies</h1>
  <hr />

  <% @trips.each do |trip| %>
    <h2 class="text-center">
      <%= link_to trip.name, trip_path(trip) %>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-8 col-12">
        <%= trip.description %>
      </div>
      <div class="col-sm-4 col-12 text-center">
        <%= link_to 'More Details...', trip_path(trip), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
    <br class="clr" />
  <% end %>
</div>